<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://io.mycat/">
	<system>
	    <property name="useSqlStat">0</property>  <!-- 1为开启实时统计、0为关闭 -->
	    <property name="useGlobleTableCheck">0</property>  <!-- 1为开启全加班一致性检测、0为关闭 -->
		<property name="sequnceHandlerType">2</property>
		<property name="defaultSqlParser">druidparser</property>
		<property name="processors">2</property>
		<property name="processorExecutor">16</property>
		
<!-- 		<property name="processorBufferPoolType">0</property>
		<property name="handleDistributedTransactions">0</property>
		<property name="useOffHeapForMerge">1</property>
		<property name="memoryPageSize">1m</property>
		<property name="spillsFileBufferSize">1k</property>
		<property name="useStreamOutput">0</property>
		<property name="systemReserveMemorySize">384m</property>
		<property name="useZKSwitch">true</property> -->
	</system>
	<user name="root">
		<property name="password">123456</property>
 		<!-- <property name="schemas">test1,test2</property> -->
        <property name="schemas">test</property>
	</user>
</mycat:server>
